.list-group-item{
  display: inline-block;
}
.list-group-item h3{
  display: inline-block;
  margin-bottom: 20px;
  margin-left: 5%;
}
.list-group-item small{
  float: right;
  font-size: 1em;
}
.list-group-item small span{
  color: red;
}
.list-group-item img{
  width: 20%;
  display: inline-block;
  float: left;
  margin-top: 20px;
  margin-bottom: 20px;
}
.list-group-item p{
  width: 75%;
  margin-left: 5%;
  margin-bottom: 40px;
  float: left;
  font-size: 1em;
  display: inline-block;
}
